{{#if enabled}}
  <div class="modal-fog">
      <div class="modal-frame">
          <div class="modal-title">
              add a cat!
          </div>
          <div class="modal-body">
              name: {{input value=name enter='submit'}}
          </div>
      </div>
  </div>
{{/if}}   

